@using DtoLayer.Dtos.projectDto
@model List<projectListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                @foreach (var i in Model)
                {
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">@i.projectsTitle</h2>
                                    <p>@i.projectsDescription</p>
                                </div>
                                <img class="img-fluid" src="@i.projectsImage" alt="..." />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

